{% extends 'base.html' %}
{% block content %}

<h1>New Item</h1>

<form method="POST" action="/new_item">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your item information:</legend>

        <!-- Name form -->
        {{ form.name.label }}
        {{ form.name }}

        <ul>
            {% for error in form.name.errors %}
            <li style="color: red">{{error}}</li>
            {% endfor %}
        </ul>

        <!-- Price form -->
        {{ form.price.label }}
        {{ form.price }}

        <ul>
            {% for error in form.price.errors %}
            <li style="color: red">{{error}}</li>
            {% endfor %}
        </ul>

        <!-- Category form -->
        {{ form.category.label }}
        {{ form.category }}

        <ul>
            {% for error in form.category.errors %}
            <li style="color: rgb(211, 210, 210)">{{error}}</li>
            {% endfor %}
        </ul>

        <!-- Photo form -->
        {{ form.photo_url.label }}
        {{ form.photo_url }}

        <ul>
            {% for error in form.photo_url.errors %}
            <li style="color: red">{{error}}</li>
            {% endfor %}
        </ul>

        <!-- Store form -->
        {{ form.store.label }}
        {{ form.store }}

        <ul>
            {% for error in form.store.errors %}
            <li style="color: red">{{error}}</li>
            {% endfor %}
        </ul>


        <input type="submit" value="Submit">
    </fieldset>
</form>


{% endblock %}